body {
    background-color: #ff6500;

}

.heading-1 {
    text-align: center;
    color: #ff6500;
}

.heading-2 {
    text-align: center;
}

.help {
    /* display: inline; */
    border-radius: 50%;
    color: white;
}

.help-btn {
    width: 3rem;
    height: 3rem;
    line-height: 2rem;
    border-radius: 50%;
    padding: 0;
    background: #040303;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    position: fixed;
    right: 20px;
    bottom: 20px;
    text-decoration: none;
    cursor: pointer;
}

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.Home{
background-color:#FF9800;
}
.topnav a:hover {
    background-color: #ffc55a;
}

.video01 {
    width: 50%;
}

.main-webpage {
    background-color: lightgray;
    height: auto;
}

.main-video {
    display: flex;
    justify-content: center;
}

.card-contianer {
    display: flex;
    justify-content: center;
}

.card {
    width: 320px;
    border-radius: 2px;
    /* box-shadow: 0 0 6px rgb(51, 51, 51); */
    margin: 25px;
    height: auto;
    background-color: white;
}

.card-img {
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.btn {
    border-radius: 3px;
    border: 1px solid black;
    margin: 10px;
    font-size: 23px;
    cursor: pointer;
    background-color: black;
    color: white;
}

@media(max-width:576px) {
    .btn {
        border-radius: 3px;
        border: 1px solid black;
        margin: 10px;
        font-size: 23px;
        cursor: pointer;
        background-color: black;
        color: white;
    }
    .card-contianer {
        display: block;
    }

    .card {
        width: 300px;
        border-radius: 2px;
        box-shadow: 0 0 6px rgb(51, 51, 51);
        /* margin: 25px; */
        /* cursor: pointer;  */
        height: auto;
    }

    .card-img {
        width: 100%;
        object-fit: cover;
        border-radius: 2px;
    }
    .video01 {
        width: 90%;
    }
}